.header {
    display: flex;

    &__container--title {
        margin-right: auto;
    }

    &__container--filter {
        &-option {
            display: flex;
            flex-direction: column;
            height: 100px;

            &--visible {
                display: flex;
                flex-direction: column;
            }

            &--invisible {
                display: none;
            }
        }
    }
}