.nav-bar {
    background-color: #252945;
    display: flex;
    justify-content: space-between;

    &__main-logo {
        margin-right: auto;
    }

    &__dark-mode {
        width: 100px;
        background-image: url('../../assets/icon-sun.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    &__vertical-break {
        width: 2px;
        background-color: gray;
    }

    &__account-setting {
        width: 100px;
        background-image: url('../../assets/image-avatar.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-color: transparent;
        cursor: pointer;
        border: none;
    }
}