.bill-from {
    display: flex;
    flex-direction: column;
    gap: 5px;
    
    &__container {
        &__city-code-country {
            display: flex;
        }
    }

    &__input {

        &--city:invalid {
        }
    }
}
