* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: black;
}

.App {
    display: flex;

    &__container {
        display: flex;
        flex-direction: column;
    }
}